$text-color: #606060;
$main-color: #ee3e97;
$main-color-light: lighten($main-color, 30%);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: 'Lora', system-ui, sans-serif;
    min-height: 100%;
    color: $text-color;
    font-size: 17px;
    line-height: 1.5;
}
img {
    max-width: 100%;
}
em {
    font-weight: 700;
    color: $main-color;
    font-style: normal;
}
header {
    margin-top: 20px;
}
nav {
    display: flex;
    margin: 0 60px;
    border-bottom: 2px solid $main-color-light;
    position: relative;
    &:after {
        padding:0;margin:0;display:block;
        content: "";
        width:50%;
        height:2px;
        background-color:white;
        position: absolute;
        right:0;
        bottom:-2px;
    }
    a {
        text-decoration: none;
        color: #313131;
        padding: 10px 20px;
        &:hover {
            color: $main-color;
            border-bottom: 3px solid $main-color;
        }
        &:last-child {
            margin-left: auto;
            color: #a7a7a7;
            font-size: 1.2em;
            &:hover {
                border-bottom: 0;
            }
        }
    }
}
.hero {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px;
    section {
        max-width: 100%;
    }
    img {
        max-width: 100%;
    }
    h1 {
        font-size: 34px;
    }
    p {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .button {
        padding: 10px 40px;
        border-radius: 5px;
        font-weight: 700;
        text-decoration: none;
        background-color: $main-color;
        color: white;
        font-size: 22px;
    }
}
.container {
    max-width: 800px;
    margin: 0 auto;
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin: 40px 0;
        p {
            padding: 15px;
        }
        img {
            justify-self: center;
        }
    }
    img {
        width: 100%;
    }
}
footer {
    height: 150px;
    background-image: url('img/pink-stroke.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

@media screen and (max-width: 1150px) {
    nav {
        margin: 0 10px;
    }
    body {
        font-size: 16px;
    }
}
@media screen and (max-width: 750px) {
    .hero {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "top"
            "bottom";
        align-items: center;
        justify-items: center;
        padding: 10px;
        h1 {
            font-size: 28px;
        }
        p {
            font-size: 20px;
            margin-bottom: 20px;
        }
        img {
            max-width: 400px;
            grid-area: top;
        }
        .button {
            padding: 5px 25px;
            color: white;
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 600px) {
    nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        a {
            border-bottom: 3px solid white;
        }
        a:last-child {
            order: -1;
            margin: 0;
            text-align: center;
            width: 100%;
            border-bottom: none;
        }
        &:after {
            display: none;
        }
    }
    .hero img {
        max-width: 100%;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        section {
            grid-template-columns: 1fr;
            margin: 30px 0;
            &:nth-child(2) {
                grid-template-areas:
                    "top"
                    "bottom";
                img {
                    grid-area: top;
                }
            }
        }
    }
}